{% extends "base.html" %}

{% block title %}All Posts - Architextual{% endblock %}

{% block page_title %}All Posts{% endblock %}

{% block content %}
<div id="markdownBody" class="markdownBody">
  <div id="page-metadata">
    <div class="page-metadata-fields">
      <span class="page-post-count">{{ total_posts }} post{{ total_posts|pluralize }}</span>
    </div>
    <div class="tag-list-controls">
      <span class="control-group">
        <span class="control-label">Sort:</span>
        <a href="{% querystring sort='date' page=None %}" class="control-option{% if current_sort == 'date' %} active{% endif %}">Date</a>
        <a href="{% querystring sort='title' page=None %}" class="control-option{% if current_sort == 'title' %} active{% endif %}">Title</a>
      </span>
      <span class="control-group">
        <span class="control-label">Show:</span>
        {% if show_description %}
        <a href="{% querystring show=None page=None %}" class="control-option active">Description</a>
        {% else %}
        <a href="{% querystring show='description' page=None %}" class="control-option">Description</a>
        {% endif %}
      </span>
    </div>
  </div>

  {% include "posts/includes/post_index.html" %}
</div>
{% endblock content %}
