{% extends "base.html" %}
{% load markdown_tags %}
{% block title %}
  {{ post.title }}
{% endblock title %}
{% block page_title %}
  {{ post.title }}
{% endblock page_title %}
{% block page-metadata %}
  {% include "posts/page_metadata.html" %}
{% endblock page-metadata %}
  {% block content %}
  <div id="markdownBody" class="markdownBody">
    {% include "posts/includes/table_of_contents.html" with toc=toc_nodes %}
    {% if post.abstract %}
      <blockquote class="page-abstract first-block block blockquote-level-1">
        {{ post.abstract|markdown_abstract }}
      </blockquote>
    {% endif %}
    {% markdown_with_context post.content_markdown %}
    {% include "posts/backlinks.html" %}
    {% include "posts/similar_posts.html" %}
  </div>
{% endblock content %}
