{% extends "base.html" %}

{% block title %}Series - Architextual{% endblock %}

{% block page_title %}Series{% endblock %}

{% block content %}
<div id="markdownBody" class="markdownBody">
  <div id="page-metadata">
    <div class="page-metadata-fields">
      <span class="page-post-count">{{ total_series }} series</span>
    </div>
    <div class="tag-list-controls">
      <span class="control-group">
        <span class="control-label">Sort:</span>
        <a href="?sort=name" class="control-option{% if current_sort == 'name' %} active{% endif %}">A-Z</a>
        <a href="?sort=count" class="control-option{% if current_sort == 'count' %} active{% endif %}">Count</a>
      </span>
    </div>
  </div>

  {% if series_list %}
    <ul class="archive-list series-index list list-level-1 block">
      {% for series in series_list %}
      <li class="in-list">
        <a href="{{ series.get_absolute_url }}"
           class="link-annotated link-page has-icon has-annotation">{{ series.title }}<span class="link-icon-hook dark-mode-invert">&NoBreak;</span></a>
        <span class="series-post-count">({{ series.post_count }} post{{ series.post_count|pluralize }})</span>
        {% if series.description %}
          <div class="series-description">{{ series.description|truncatewords:20 }}</div>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No series yet.</p>
  {% endif %}
</div>
{% endblock content %}
