{% extends "base.html" %}

{% block title %}Series - Architextual{% endblock %}

{% block page_title %}Series{% endblock %}

{% block content %}
<div id="markdownBody" class="markdownBody">
  {% if series_list %}
    <ul class="archive-list series-index list list-level-1 block">
      {% for series in series_list %}
      <li class="in-list">
        <a href="{{ series.get_absolute_url }}"
           class="link-annotated link-page has-icon has-annotation">{{ series.title }}<span class="link-icon-hook dark-mode-invert">&NoBreak;</span></a>
        <span class="series-post-count">({{ series.post_count }} post{{ series.post_count|pluralize }})</span>
        {% if series.description %}
          <span class="series-description"> &mdash; {{ series.description|truncatewords:20 }}</span>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No series yet.</p>
  {% endif %}
</div>
{% endblock content %}
