{% if similar_posts_count > 0 %}
  <section id="similar-posts-section" class="level1 block">
    <h1 class="heading">
      <a href="#similar-posts-section"
         title="Link to section: § 'Similar Posts'">Similar Posts</a>
      <button type="button"
              class="copy-section-link-button"
              title="Copy section link to clipboard"
              tabindex="-1">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
          <path d="M0 256C0 167.6 71.63 96 160 96H256C273.7 96 288 110.3 288 128C288 145.7 273.7 160 256 160H160C106.1 160 64 202.1 64 256C64 309 106.1 352 160 352H256C273.7 352 288 366.3 288 384C288 401.7 273.7 416 256 416H160C71.63 416 0 344.4 0 256zM480 416H384C366.3 416 352 401.7 352 384C352 366.3 366.3 352 384 352H480C533 352 576 309 576 256C576 202.1 533 160 480 160H384C366.3 160 352 145.7 352 128C352 110.3 366.3 96 384 96H480C568.4 96 640 167.6 640 256C640 344.4 568.4 416 480 416zM416 224C433.7 224 448 238.3 448 256C448 273.7 433.7 288 416 288H224C206.3 288 192 273.7 192 256C192 238.3 206.3 224 224 224H416z">
          </path>
        </svg>
      </button>
    </h1>
    <div id="similars" class="include-wrapper-block">
      <div class="columns block">
        <p class="first-graf block">
          {{ similar_posts_count }} related post{{ similar_posts_count|pluralize }} you might enjoy:
        </p>
        <ul class="aux-links-list similars-list list list-level1">
          {% for similar in similar_posts %}
            <li class="block" data-similarity-score="{{ similar.similarity_score }}">
              <p class="in-list first-graf first-block">
                <a href="{{ similar.get_absolute_url }}"
                   class="link-annotated link-page has-icon has-annotation spawns-popup">
                  {{ similar.title }}
                  <span class="link-icon-hook dark-mode-invert">&NoBreak;</span>
                </a>
              </p>
              {% comment %} {% with excerpt=similar.description|default:similar.abstract %}
                {% if excerpt %}<p class="post-excerpt">{{ excerpt|striptags|truncatewords:30 }}</p>{% endif %}
              {% endwith %} {% endcomment %}
              <div class="post-meta">
                {% if similar.published_at %}<span class="post-date">{{ similar.published_at|date:"Y-m-d" }}</span>{% endif %}
                {% comment %} {% with tags=similar.tags.all %}
                  {% if tags %}
                    <span class="post-tags">
                      {% for tag in tags|slice:":3" %}<span class="tag">{{ tag.name }}, </span>{% endfor %}
                    </span>
                  {% endif %}
                {% endwith %} {% endcomment %}
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>
{% endif %}
