{% extends "base.html" %}

{% block title %}Architextual{% endblock %}

{% block body_class %} class="page-index"{% endblock %}

{% block page_title %}{% endblock %}

{% block content %}
<div id="markdownBody" class="markdownBody">

  {# Intro Section - editable via Page model with slug 'home-intro' #}
  {% if intro_html %}
  <section class="index-intro">
    {{ intro_html|safe }}
  </section>
  {% endif %}

  <hr class="index-divider index-divider-decorated">

  {# Multi-column Sections #}
  <section class="index-sections">
    {# Newest Posts Column #}
    <div class="index-column index-column-featured">
      <h2><a href="{% url 'post-archive' %}">Newest</a></h2>
      {% if newest_posts %}
      <ul class="index-post-list list-level-1 list block">
        {% for post in newest_posts %}
        <li class="index-post-item in-list">
          <a href="{{ post.get_absolute_url }}" class="index-post-link">{{ post.title }}</a>
          {% if post.published_at %}
          <span class="index-post-date">{{ post.published_at|date:"M j" }}</span>
          {% endif %}

        </li>
        {% endfor %}
      </ul>
      <p class="index-more"><a href="{% url 'post-archive' %}">View all posts &rarr;</a></p>
      {% else %}
      <p class="index-empty">No posts yet.</p>
      {% endif %}
    </div>

    {# Tag Section Columns #}
    {% for section in tag_sections %}
    <div class="index-column">
      <h2><a href="{% url 'tag-archive' section.tag.slug %}">{{ section.title }}</a></h2>
      {% if section.posts %}
      <ul class="index-post-list list-level-1 list block">
        {% for post in section.posts %}
        <li class="index-post-item in-list">
          <a href="{{ post.get_absolute_url }}" class="index-post-link">{{ post.title }}</a>
          {% if post.published_at %}
          <span class="index-post-date">{{ post.published_at|date:"M j" }}</span>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
      <p class="index-more"><a href="{% url 'tag-archive' section.tag.slug %}">More in {{ section.title }} &rarr;</a></p>
      {% else %}
      <p class="index-empty">No posts yet.</p>
      {% endif %}
    </div>
    {% endfor %}
  </section>

</div>
{% endblock content %}
