<div class="sidebar-content">
  <a class="sidebar-logo" href="/" title="Home">Architextual</a>
  <div class="sidebar-nav">
    <a class="sidebar-link{% if request.path == '/' %} active{% endif %}" href="/">Home</a>
    <a class="sidebar-link{% if '/tags' in request.path %} active{% endif %}" href="/tags">Tags</a>
    <a class="sidebar-link{% if '/posts' in request.path %} active{% endif %}" href="/posts">Posts</a>
    <span class="sidebar-separator"></span>
    <a class="sidebar-link{% if '/library' in request.path %} active{% endif %}" href="/library">Library</a>
    <span class="sidebar-version">v1.0</span>
    <a class="sidebar-link{% if '/about' in request.path %} active{% endif %}" href="/about">About</a>
  </div>
</div>
