:root {
  /*  General.
   */
  --AT-body-background-color: #fff;
  --AT-body-text-color: #000;

  /*  Selection.
   */
  --AT-text-selection-background-color: #333;
  --AT-text-selection-color: #fff;

  /*	Links.
   */
  --AT-body-link-color: #333;
  --AT-body-link-hover-color: #888;
  --AT-body-link-visited-color: #666;
  /*--AT-body-link-inverted-color: #eee;*/
  /*--AT-body-link-inverted-hover-color: #ccc;*/
  /*--AT-body-link-inverted-visited-color: #ddd;*/

  /*  Blockquotes.
   */
  --AT-blockquote-border-color-level-one: #ccc;
  --AT-blockquote-border-color-level-two: #c4c4c4;
  --AT-blockquote-border-color-level-three: #b3b3b3;
  --AT-blockquote-border-color-level-four: #a6a6a6;
  --AT-blockquote-background-color-level-one: #f8f8f8;
  --AT-blockquote-background-color-level-two: #e6e6e6;
  --AT-blockquote-background-color-level-three: #d8d8d8;

  /*  Abstracts.
   */
  --AT-abstract-border-color: #bbb;

  /*	Block context highlighting.
   */
  --AT-block-context-span-highlight-color: #ddd;

  /*  Table of contents.
   */
  --AT-TOC-border-color: #ccc;
  --AT-TOC-background-color: #f8f8f8;
  --AT-TOC-collapse-button-text-color: #ccc;
  --AT-TOC-collapse-button-text-hover-color: #fff;
  --AT-TOC-collapse-button-color: rgba(248, 248, 248, 0.8);
  --AT-TOC-collapse-button-hover-color: #ddd;
  --AT-TOC-collapse-button-border-hover-color: #000;
  --AT-TOC-link-hover-background-color: #ececec;
  --AT-TOC-link-hover-color: #000;
  --AT-TOC-link-hover-indicator-bar-color: #ccc;
  --AT-TOC-number-color: #909090;
  --AT-TOC-number-hover-color: #313131;

  /*  Collapse blocks.
      */
  --AT-collapse-abstract-blockquote-hover-color: #eee;
  --AT-collapse-disclosure-button-color: #eee;
  --AT-collapse-disclosure-button-hover-color: #ddd;
  --AT-collapse-in-blockquote-disclosure-button-color: #ddd;
  --AT-collapse-in-blockquote-disclosure-button-hover-color: #ccc;
  --AT-collapse-disclosure-button-text-color: #bbb;
  --AT-collapse-disclosure-button-text-hover-color: #fff;
  --AT-collapse-in-blockquote-disclosure-button-text-color: #999;
  --AT-collapse-in-blockquote-disclosure-button-text-hover-color: #888;

  /*	Inline collapses.
   */
  /*--AT-collapse-inline-disclosure-button-text-color: #555;*/
  /*--AT-collapse-inline-disclosure-button-text-hover-color: #999;*/

  /*	Aux-links collapse blocks.
   */
  /*--AT-aux-links-collapse-border-color: #c4c4c4;*/

  /*  Headings.
   */
  --AT-H1-border-color: #888;
  --AT-H2-border-color: #888;

  /*  Comments.
   */
  /*--AT-comment-section-top-border-color: #999;*/

  /*  Lists.
   */
  --AT-bulleted-list-marker-color: #808080;

  /*  Figures.
   */
  --AT-figure-outline-color: #888;
  --AT-figure-caption-outline-color: #888;

  /*	Embeds.
   */
  --AT-embed-border-color: #ddd;

  /*  Epigraphs.
   */
  --AT-epigraph-quotation-mark-color: #808080;

  /*  Footnotes.
   */
  --AT-footnote-border-color: #aaa;
  --AT-footnote-highlighted-border-color: #aaa;
  --AT-footnotes-section-top-rule-color: #ccc;
  --AT-footnote-backlink-border-color: #000;
  --AT-footnote-backlink-border-hover-color: #999;

  /*  Footnote references.
   */
  --AT-highlighted-link-outline-color: #999;

  /*  Sidenotes.
   */
  --AT-sidenote-highlight-box-shadow-color: #aaa;
  --AT-sidenote-border-color: #aaa;
  --AT-sidenote-scrollbar-thumb-color: #aaa;
  --AT-sidenote-scrollbar-thumb-hover-color: #999;
  --AT-sidenote-self-link-border-color: #aaa;

  /*	Annotations.
   */
  --AT-section-highlighted-border-color: #666;

  /*  Tables.
   */
  --AT-table-border-color: #000;
  --AT-table-caption-border-color: #000;
  --AT-table-row-horizontal-border-color: #000;
  --AT-table-scrollbar-thumb-color: #aaa;
  --AT-table-scrollbar-thumb-hover-color: #999;
  --AT-table-scrollbar-border-color: #000;
  --AT-table-column-heading-hover-background-color: #e2f0f2;
  --AT-table-sorted-column-heading-background-color: #8bd0ed;
  --AT-table-sorted-column-heading-text-color: #fff;
  --AT-table-sorted-column-heading-text-shadow-color: #000;
  --AT-table-zebra-stripe-alternate-row-background-color: #f6f6f6;
  --AT-table-row-hover-outline-color: #000;

  /*  Code blocks.
   */
  --AT-code-element-border-color: #c8c8c8;
  --AT-code-element-background-color: #fafafa;
  --AT-pre-element-border-color: #c8c8c8;
  --AT-pre-element-background-color: #fafafa;
  --AT-pre-element-scrollbar-track-color: #fafafa;
  --AT-pre-element-scrollbar-thumb-color: #ccc;
  --AT-pre-element-scrollbar-thumb-hover-color: #999;
  --AT-code-block-line-highlight-background-color: #ffd;
  --AT-code-block-line-highlight-border-color: #ddd;
  --AT-code-block-line-number-color: #aaa;
  --AT-code-block-line-number-divider-color: #ccc;

  /*  Syntax highlight theme.
   */
  --AT-syntax-highlight-color-normal: #1f1c1b;
  --AT-syntax-highlight-color-attribute: #002561;
  --AT-syntax-highlight-color-data-type: inherit;
  --AT-syntax-highlight-color-variable: #666666;
  --AT-syntax-highlight-color-other: inherit;
  --AT-syntax-highlight-color-preprocessor: inherit;
  --AT-syntax-highlight-color-extension: #777;
  --AT-syntax-highlight-color-comment: #777;
  --AT-syntax-highlight-color-control-flow: #003900;
  --AT-syntax-highlight-color-keyword: #002561;
  --AT-syntax-highlight-color-operator: #002561;
  --AT-syntax-highlight-color-special-char: #607880;
  --AT-syntax-highlight-color-built-in: #002561;
  --AT-syntax-highlight-color-function: #002561;
  --AT-syntax-highlight-color-constant: inherit;
  --AT-syntax-highlight-color-base-n: inherit;
  --AT-syntax-highlight-color-dec-val: inherit;
  --AT-syntax-highlight-color-float: inherit;
  --AT-syntax-highlight-color-information: inherit;
  --AT-syntax-highlight-color-char: inherit;
  --AT-syntax-highlight-color-string: inherit;
  --AT-syntax-highlight-color-verbatim-string: inherit;
  --AT-syntax-highlight-color-alert: #bf0303;
  --AT-syntax-highlight-color-error: #ff0000;
  --AT-syntax-highlight-color-import: #777777;
  --AT-syntax-highlight-color-special-string: #666666;

  /*  Math.
   */
  --AT-math-block-background-color: #f6f6f6;
  --AT-math-block-background-color-flash: #e0e0e0;
  --AT-math-block-scrollbar-border-color: #ccc;
  --AT-math-block-scrollbar-thumb-color: #ccc;
  --AT-math-block-scrollbar-thumb-hover-color: #999;

  /*  Dropcaps.
   */
  /*--AT-dropcaps-goudy-color: #000;*/
  /*--AT-dropcaps-yinit-color: #0d0d0d;*/
  /*--AT-dropcaps-yinit-text-shadow-color: #777;*/
  /*--AT-dropcaps-de-zs-color: #1b1b1b;*/
  /*--AT-dropcaps-cheshire-color: #191919;*/
  /*--AT-dropcaps-kanzlei-color: #191919;*/

  /*  Admonitions.
     */
  --AT-admonition-note-left-border-color: #909090;
  --AT-admonition-note-background-color: #d8d8d8;
  --AT-admonition-tip-left-border-color: #d8d8d8;
  --AT-admonition-tip-background-color: #f0f0f0;
  --AT-admonition-warning-left-border-color: #5a5a5a;
  --AT-admonition-warning-background-color: #9a9a9a;
  --AT-admonition-warning-text-color: #fff;
  --AT-admonition-error-left-border-color: #2d2d2d;
  --AT-admonition-error-background-color: #5a5a5a;
  --AT-admonition-error-text-color: #fff;
  --AT-admonition-reversed-link-color: #ddd;
  --AT-admonition-reversed-link-color-hover: #ccc;
  --AT-admonition-reversed-link-underline-gradient-line-color: #ccc;
  --AT-admonition-reversed-link-underline-gradient-line-color-hover: #bbb;

  /*	Footer.
   */
  --AT-bottom-ornament-line-color: #000;

  /*	Pop-frames (popups or popins).
   */
  /*--AT-popframes-object-popframe-background-color: #fff;*/

  /*--AT-extracts-options-dialog-backdrop-background-color: rgba(255, 255, 255, 0.95);*/
  /*--AT-extracts-options-dialog-background-color: var(--AT-body-background-color);*/
  /*--AT-extracts-options-dialog-border-color: #aaa;*/
  /*--AT-extracts-options-dialog-box-shadow-color: #444;*/
  /*--AT-extracts-options-dialog-horizontal-rule-color: #ccc;*/
  /*--AT-extracts-options-dialog-button-background-color: var(--AT-body-background-color);*/
  /*--AT-extracts-options-dialog-button-text-color: #000;*/
  /*--AT-extracts-options-dialog-button-border-color: #000;*/
  /*--AT-extracts-options-dialog-button-hover-box-shadow-color: #000;*/
  /*--AT-extracts-options-dialog-option-button-explanation-text-color: #777;*/
  /*--AT-extracts-options-dialog-option-button-hover-text-color: #777;*/
  /*--AT-extracts-options-dialog-radio-button-border-color: #000;*/

  /*  Popups.
   */
  /*--AT-popups-popup-background-color: var(--AT-body-background-color);*/

  /*--AT-popups-popup-border-color: #ccc;*/
  /*--AT-popups-popup-box-shadow-color: #ccc;*/
  /*--AT-popups-popup-border-focused-color: #aaa;*/
  /*--AT-popups-popup-box-shadow-focused-color: #aaa;*/

  /*--AT-popups-popup-title-bar-background-color: #fff;*/
  /*--AT-popups-popup-title-bar-button-color: #bbb;*/
  /*--AT-popups-popup-title-bar-button-color-hover: #000;*/
  /*--AT-popups-popup-title-bar-button-color-disabled: #eee;*/
  /*--AT-popups-popup-title-color: #aaa;*/
  /*--AT-popups-popup-title-link-hover-color: var(--AT-body-link-hover-color);*/
  /*--AT-popups-popup-title-bar-button-focused-color: #777;*/
  /*--AT-popups-popup-title-bar-button-focused-color-hover: #000;*/
  /*--AT-popups-popup-title-bar-button-focused-color-disabled: #ddd;*/
  /*--AT-popups-popup-title-bar-submenu-box-shadow-color: #ddd;*/
  /*--AT-popups-popup-title-focused-color: #000;*/
  /*--AT-popups-popup-title-link-hover-focused-color: var(--AT-body-link-hover-color);*/

  /*--AT-popups-popup-scrollbar-thumb-color: #ddd;*/
  /*--AT-popups-popup-scrollbar-thumb-hover-color: #bbb;*/
  /*--AT-popups-popup-scrollbar-thumb-focused-color: #ccc;*/
  /*--AT-popups-popup-scrollbar-thumb-hover-focused-color: #999;*/

  /*  Popins.
   */
  /*--AT-popins-popin-background-color: var(--AT-body-background-color);*/

  /*--AT-popins-popin-border-color: #aaa;*/
  /*--AT-popins-popin-backdrop-color: rgba(0, 0, 0, 0.4);*/
  /*--AT-popins-popin-box-shadow-color: #aaa;*/

  /*--AT-popins-popin-title-bar-background-color: #fff;*/
  /*--AT-popins-popin-title-bar-button-color: #777;*/

  /*--AT-popins-popin-scrollbar-thumb-color: #ccc;*/
  /*--AT-popins-popin-scrollbar-thumb-hover-color: #999;*/

  /*--AT-popins-popin-stack-counter-text-color: #fff;*/
  /*--AT-popins-popin-stack-counter-background-color: #bbb;*/

  /*  Image focus.
   */
  --AT-image-focus-image-hover-drop-shadow-color: #777;

  /*	Page toolbar.
   */
  --AT-page-toolbar-border-color: #aaa;
  --AT-page-toolbar-control-button-color: #aaa;
  --AT-page-toolbar-control-button-active-color: #000;

  /*	Page toolbar widgets.
   */
  --AT-page-toolbar-button-icon-color: #aaa;
  --AT-page-toolbar-button-selectable-icon-color: #e4e4e4;
  --AT-page-toolbar-button-selected-icon-color: #777;
  --AT-page-toolbar-button-text-color: #666;
  --AT-page-toolbar-button-disabled-text-color: #ccc;
  --AT-page-toolbar-button-highlighted-text-color: #000;

  /*	Reader mode.
   */
  /*--AT-reader-mode-masked-links-key-toggle-info-alert-panel-background-color: rgba(0, 0, 0, 0.8);*/
  /*--AT-reader-mode-masked-links-key-toggle-info-alert-panel-text-color: #fff;*/
  /*--AT-reader-mode-masked-links-key-toggle-info-alert-panel-text-shadow-color: #000;*/
  /*--AT-reader-mode-masked-links-key-toggle-info-alert-panel-key-icon-border-color: #bbb;*/
  /*--AT-reader-mode-masked-links-key-toggle-info-alert-panel-key-icon-background-color: #444;*/

  /*	“Back to top” link.
   */
  --AT-back-to-top-link-color: #ccc;
  --AT-back-to-top-link-hover-color: #999;

  /*	Mobile floating header.
   */
  --AT-floating-header-box-shadow-color: #ccc;
  --AT-floating-header-scroll-indicator-color: #999;

  /*	“Skip to content” accessibility link.
   */
  --AT-skip-to-content-text-color: #fff;
  --AT-skip-to-content-border-color: #fff;
  --AT-skip-to-content-background-color: #bf1722;

  /*	Nav header.
   */
  --AT-nav-header-link-color: #888;
  --AT-nav-header-link-hover-color: #000;

  /*	X of the day.
   */
  --AT-x-of-the-day-border-color: #ccc;
}
