/*********************/
/* TABLE OF CONTENTS */
/*********************/

.TOC:empty {
  display: none;
}

.TOC.hidden {
  display: none;
}

.TOC {
  --text-indent: 0em;
  --text-alignment: left;
  --text-hyphenation: none;

  --background-color: var(--AT-TOC-background-color);
  --border-color: var(--AT-TOC-border-color);

  border: 1px solid var(--border-color);
  background-color: var(--background-color);
  font-family: var(--AT-sans-serif-font-stack);
  line-height: 1.25;
}

/*************************/
/*  TOC for main document.
 */

#TOC {
  padding: 0.625em 0.75em 0.75em 0.75em;
  position: relative;
  z-index: 20;
}
@media all and (min-width: 901px) {
  /*  On desktop, we want the TOC side by side with the content.
     */
  #TOC {
    margin: 0 2.25rem 1rem 0;
    float: left;
    max-width: 285px;
  }
}
@media all and (max-width: 900px) {
  /*  On mobile, we want the TOC to be inline.
     */
  #TOC {
    margin: 2.75rem auto 2.5rem auto;
  }
}

/*********************************/
/*  TOCs on directory index pages.
 */

body[class*='-index'] #TOC {
  margin-top: 2.5rem;
}
@media all and (min-width: 650px) {
  body[class*='-index'] #TOC {
    float: unset;
    max-width: unset;
    margin-right: unset;
  }
}

/*  TOCs with nothing but links (no “Miscellaneous”, no link bibliography).
    (This happens on some directory index pages.)
 */

body[class*='-index'] #TOC.TOC-links-only {
  padding-top: 2.5em;
}

body[class*='-index'] #TOC.TOC-links-only::before {
  content: 'Contents';
  position: absolute;
  font-size: 1.125em;
  font-weight: bold;
  top: 0.5em;
  left: 0.75em;
}
@media all and (max-width: 900px) {
  body[class*='-index'] #TOC.TOC-links-only::before {
    left: 0.5em;
  }
}

body[class*='-index'] #TOC.TOC-links-only li {
  font-weight: normal;
  font-size: 0.9em;
}

/******************/
/*  TOC collapsing.
 */

#TOC.collapsed {
  height: 2em;
  padding-top: 0;
  padding-bottom: 0;
}
@media all and (max-width: 900px) {
  #TOC.collapsed {
    margin-top: 2rem;
    background-image: none;
  }
}

#TOC.collapsed + * {
  clear: both;
}

#TOC.collapsed > ul {
  max-height: 0;
  overflow: hidden;
}

/*  Collapsed TOC label.
 */

#TOC.collapsed::before {
  content: '[Contents]';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  padding: 0 0 0 0.5em;
  display: flex;
  align-items: center;
  z-index: 2;
  pointer-events: none;
  font-size: 1.125em;
  font-weight: bold;
  opacity: 0.5;
}
@media all and (hover: hover) {
  #TOC.collapsed:hover::before {
    opacity: 1;
  }
}
@media all and (max-width: 900px) {
  #TOC.collapsed::before {
    padding: 0 0.5em;
    right: 0;
    margin: auto;
    justify-content: center;
  }
}

/*  TOC collapse toggle button.
 */

#TOC .toc-collapse-toggle-button {
  appearance: none;
  border: none;
  background-color: var(--AT-TOC-collapse-button-color);
  position: absolute;
  height: calc(2em - 2px);
  padding: 0.3em 0.4em;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  color: var(--AT-TOC-collapse-button-text-color);
  font-family: var(--AT-sans-serif-font-stack);
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
  z-index: 1;
  cursor: pointer;
  visibility: hidden;
}
#TOC.collapsed .toc-collapse-toggle-button {
  width: 100%;
  height: 100%;
  visibility: visible;
}

#TOC .toc-collapse-toggle-button span {
  display: flex;
  width: calc(1.4em - 2px);
  height: 100%;
  justify-content: center;
  align-items: center;
}

#TOC .toc-collapse-toggle-button svg {
  width: 100%;
  height: 100%;
  transform: rotate(-0.25turn);
  transition: transform 0.1s ease;
}
#TOC.collapsed .toc-collapse-toggle-button svg {
  transform: rotate(0);
}

@media all and (hover: hover) {
  #TOC .toc-collapse-toggle-button:hover {
    color: var(--AT-TOC-collapse-button-text-hover-color);
    background-color: var(--AT-TOC-collapse-button-hover-color);
    outline: 1px dotted var(--AT-TOC-collapse-button-border-hover-color);
  }
  #TOC:hover .toc-collapse-toggle-button {
    visibility: visible;
  }
}

@media all and (max-width: 649px) {
  /*  In expanded state, place button above.
     */
  #TOC:not(.collapsed) .toc-collapse-toggle-button {
    top: -1.75em;
    right: unset;
    left: -1px;
    justify-content: center;
    border: inherit;
    background-color: inherit;
    margin: auto;
    width: 2em;
    height: 1.75em;
    padding: 3px;
    box-sizing: border-box;
    opacity: 1;
  }
  /*  Extended tap area.
     */
  #TOC:not(.collapsed) .toc-collapse-toggle-button::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
  }
}

/*=-----------------=*/
/*= TOC list layout =*/
/*=-----------------=*/

.TOC ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media all and (max-width: 900px) {
  /*  Divider line between the columns.
     */
  #TOC {
    background-image: linear-gradient(
      var(--AT-TOC-border-color),
      var(--AT-TOC-border-color)
    );
    background-repeat: no-repeat;
    background-size: 1px 100%;
    background-position: 50% 0;
  }

  /*  Two-column layout.
     */
  #TOC > ul {
    column-count: 2;
    column-gap: 1.25em;
  }
  #TOC ul > li:first-child {
    break-before: avoid-column;
  }

  /*  But not on directory index pages.
     */
  body[class*='-index'] #TOC {
    background-image: none;
  }
  body[class*='-index'] #TOC > ul {
    column-count: 1;
  }
}

.TOC ul ul {
  margin: 0;
  padding-left: 0.7em;
  padding-top: 0.35em;
}

.TOC ul > li {
  font-weight: bold;
  margin: 0 0 0.5em 0;
  padding-left: 1.125em;
  position: relative;
  overflow-wrap: break-word;
}
.TOC ul > li:last-child {
  margin-bottom: 0;
}

@media all and (max-width: 900px) {
  /*  No numbers on mobile.
     */
  #TOC ul > li {
    padding-left: 0;
  }
  #TOC ul > li::before {
    content: none;
  }
}

.TOC ul > li li {
  font-weight: normal;
  font-size: 0.9em;
}

@media all and (max-width: 649px) {
  #TOC ul > li li a {
    padding: 1px 0 0 0;
  }
  #TOC ul > li li li a {
    padding: 2px 0 0 0;
  }
  #TOC ul > li li li li a {
    padding: 3px 0 0 0;
  }
  #TOC ul > li li li li a {
    padding: 4px 0 0 0;
  }
}

/*=------------------=*/
/*= TOC link styling =*/
/*=------------------=*/

.TOC a {
  border: 0;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  padding: 0 0.25rem 0 0;
}
@media all and (hover: hover) {
  .TOC a:hover,
  .markdownBody .TOC a:hover {
    background-color: var(--AT-TOC-link-hover-background-color);
    color: var(--AT-TOC-link-hover-color);
  }
  .TOC a:hover::after,
  .markdownBody .TOC a:hover::after {
    content: '';
    display: inline-block;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: var(--AT-TOC-link-hover-indicator-bar-color);
    width: 0.25em;
    height: 100%;
  }
}
@media all and (hover: none) {
  .TOC a {
    position: relative;
  }
  .TOC a::before {
    content: '';
    position: absolute;
    left: -0.5em;
    top: -0.25em;
    width: calc(100% + 0.75em);
    height: calc(100% + 0.5em);
  }
}

/*  Inline code in TOC links.
 */
.TOC code {
  font-family: inherit;
  font-size: inherit;
  border: none;
  padding: 0;
  background-color: inherit;
}

/*=-------------------------------=*/
/*= Wikipedia-style TOC numbering =*/
/*=-------------------------------=*/

.TOC > ul {
  counter-reset: htoc_1;
}
.TOC > ul > li::before {
  counter-increment: htoc_1;
  content: counter(htoc_1) '\2006  ';
}
.TOC > ul ul {
  counter-reset: htoc_2;
}
.TOC > ul ul > li::before {
  counter-increment: htoc_2;
  content: counter(htoc_1) '.' counter(htoc_2) '\2006  ';
}
.TOC > ul ul ul {
  counter-reset: htoc_3;
}
.TOC > ul ul ul > li::before {
  counter-increment: htoc_3;
  content: counter(htoc_1) '.' counter(htoc_2) '.' counter(htoc_3) '\2006  ';
}
.TOC > ul ul ul ul {
  counter-reset: htoc_4;
}
.TOC > ul ul ul ul li::before {
  counter-increment: htoc_4;
  content: counter(htoc_1) '.' counter(htoc_2) '.' counter(htoc_3) '.' counter(htoc_4)
    '\2006  ';
}
.TOC > ul ul ul ul ul {
  counter-reset: htoc_5;
}
.TOC > ul ul ul ul ul > li::before {
  counter-increment: htoc_5;
  content: counter(htoc_1) '.' counter(htoc_2) '.' counter(htoc_3) '.' counter(htoc_4)
    '.' counter(htoc_5) '\2006  ';
}
.TOC > ul ul ul ul ul ul {
  counter-reset: htoc_6;
}
.TOC > ul ul ul ul ul ul > li::before {
  counter-increment: htoc_6;
  content: counter(htoc_1) '.' counter(htoc_2) '.' counter(htoc_3) '.' counter(htoc_4)
    '.' counter(htoc_5) '.' counter(htoc_6) '\2006  ';
}
.TOC ul > li::before {
  position: absolute;
  right: calc(100% - 1em);
  left: unset;
  top: 0;
  width: 111px;
  height: initial;
  line-height: inherit;
  padding: 0;
  text-align: right;
  font-weight: normal;
  font-variant-numeric: tabular-nums;
  pointer-events: none;
  color: var(--AT-TOC-number-color);
}
.TOC ul > li:hover::before {
  color: var(--AT-TOC-number-hover-color);
}
